.chat-container {
  background: url('https://res.cloudinary.com/dah2rdyj2/image/upload/v1723558912/ourwhisky-foundation-oN2iSlIZlIk-unsplash_pssp5s.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  h1 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  ul {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 20px;
  }

  li {
    padding: 15px 0;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the container */
  }

  a {
    color: #005F4E;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  p {
    color: #FFB400;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    margin: 0;
  }
}
