.post-actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.likes-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1em;
}

.like-icon {
  display: flex;
  align-items: center;
}

.like-btn {
  display: flex;
  font-size: 1.5em;
  color: #e0245e;
  margin-bottom: 1.4em;
}

.like-count {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-input-group {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
