.username {
  color: #005f4e;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

  .profile-picture-spacing {
    margin-bottom: 20px;
  }
