// this is for the background image on the profile-posts-page.
#background-image {
  background: url('background_image.jpg');
  background-size: cover;
  font-family: Arial, sans-serif;
  width: 100%;
}
