<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-house"></i></a>
    <a href="#"><i class="fa-solid fa-comment-dots"></i></a>
    <a href="#"><i class="fa-solid fa-location-dot"></i></a>
    <a href="#"><i class="fa-solid fa-user"></i></a>
  </div>
</div>

