<nav class="navbar">
  <div class="navbar-content">
    <div id="title-text-container" class="mx-auto">
      <h1 class="title-text mb-0">
          <strong>Sláinte</strong>
      </h1>
    </div>

    <div class="header-link">
      <%= link_to matches_path do %>
        <i class="bell fa-solid fa-bell fa-xl me-2" style="color: #ffb400; position: relative;">
          <% if user_signed_in? %>
            <% pending_matches_count = current_user.received_matches.where(status: :pending).count %>
            <% if pending_matches_count > 0 %>
              <span class="badge"><%= pending_matches_count %></span>
            <% end %>
          <% end %>
        </i>
      <% end %>
    </div>
  </div>
</nav>
