<h1>My Chat</h1>

<% if @friends.size > 0 %>
  <ul>
    <% @friends.each do |match| %>
      <% if match.messages.size > 0 %>
        <li>
          <%= link_to match.matched_user.username, match_path(match) %>
          <%= match.messages.last.content %>
        </li>
      <% else %>
          <%= link_to match.matched_user.username, match_path(match) %>
          <%= "No messages yet."%>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>Currently you don't have any chats</p>
<% end %>
