<h2>Pending Match Requests You Sent</h2>
<ul>
  <% @sent_matches.each do |match| %>
    <li>
      Match request with <%= match.matched_user.username %> is pending.
    </li>
  <% end %>
</ul>

<h2>Match Requests You Received</h2>
<ul>
  <% @received_matches.each do |match| %>
    <li>
      Match request from <%= match.user.username %>
      <%= button_to 'Accept', accept_match_path(match), method: :patch, class: "btn btn-success" %>
      <%= button_to 'Reject', reject_match_path(match), method: :patch, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>
