<% @posts.each do |post| %>
  <div class="post">
    <p><%= post.content %></p>
    <% if post.photo.attached? %>
      <%= cl_image_tag post.photo.key, alt: 'Post image', class: 'post-image' %>
    <% end %>
  </div>
<% end %>
