<% @posts.each do |post| %>
  <div class="post">
    <p><%= post.content %></p>
    <% if post.image_url.present? %>
      <%= image_tag post.image_url, alt: 'Post image', class: 'post-image' %>
    <% end %>
  </div>
<% end %>
