<h1>Post Show Page</h1>

<div class="container">
  <div class="post">
    <p id="post-title"><%= @post.content %></p>
      <% if @post.photo.attached? %>
        <%= cl_image_tag @post.photo.key, alt: 'Post image', class: 'post-image' %>
      <% end %>
      <%= link_to 'Delete', post_path(@post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>