<h1>Post Show Page</h1>

<p><%= @post.content %></p>
<div class="container">
  <div class="post">
    <p id="post-title"><%= @post.content %></p>
      <% if @post.photo.attached? %>
        <%= cl_image_tag @post.photo.key, alt: 'Post image', class: 'post-image' %>
      <% end %>
  </div>
</div>
