.comment-button {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.comment-button i {
  margin-right: 8px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.post-image {
  display: block;
  width: 100%;
}
