.comment-button {
  font-size: 25px;
  color: darkgoldenrod;
  text-decoration: none;
}

.image-container {
  position: relative;
  display: inline-block;
}

.post-image {
  display: block;
    width:  400px;
    height: 400px;
    object-fit: cover;
  margin-bottom: 10px;
}
