// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "button";
@import "icon";
/* app/assets/stylesheets/custom.css */
// this is for the notification page.
.list-group-item {
  border-radius: 10px;
  background-color: #f8f9fa; /* Light grey background */
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #e9ecef; /* Slightly darker grey on hover */
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
// this is for the like btn to be on the same line with the rest..
.post-interactions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
// this is for the comment "likes ..." to be verical.
.post-interactions > * {
  height: 100%;
  display: flex;
  align-items: center;
}
