.navbar-lewagon {
  // justify-content: space-between;
  // background: white;
  background: linear-gradient(#11998E, #38EF7D);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title-text {
  font-family: Garamond, serif;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

#title-text-container {
  border: 2px solid;
  border-radius: 25% 10%;
  background-color: #11998e90;
}
