// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/chat";
@import "pages/post_index";
@import "pages/profile";
@import "components/comment";
@import 'pages/post_show';
@import 'pages/post_new';
@import "components/join";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

// This is some extra design for the profile-page-show. The code starts from here.
$primary-color: #cbced1;
$secondary-color: #2ecc7000;
$background-color: #f4f4f4;
$post-border-color: #ddd;
$post-background-color: #fff;

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img, .avatar {
  display: block;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.posts {
  margin-top: 20px;
}

.post {
  background-color: #d4edda;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #2e2e2e;
    border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 2px 2px 0 0;

  &:hover {
    transform: scale(1.02);
  }

  p {
    margin: 0 0 10px;
  }

  small {
    color: #888;
  }

  .post-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid $secondary-color;
  }

  .post-header {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    .post-username {
      font-weight: bold;
      color: $primary-color;
    }

    .post-time {
      font-size: 0.9em;
      color: #888;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
    background-color:#f4e1d2;
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .profile-img {
    width: 100px;
    height: 100px;
  }
}
.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: $primary-color;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: #fff;
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 15%);
  }
}
.text-primary {
  text-align: center;
}
// until here .....
